
*{
   text-decoration: none;
   margin: 0px;
   padding: 0px;
}

:root {
    --gray : #FBFBFB;
    --violet: #6E56B1;
    --violet_clair:#7157BA;
    --black-c : #362F4E;
    --black : black;
    --gray-c : #E2E8F1;
    --orang-c : #FF725E;
    --white : #fff;
    --dark- : #282d32;
    --transition: all 0.3s linear;
    --main-color-red : #AF1E1D;
    --second-color-blue : #21354B;
    --third-color-red_clair : #D03925;
}

body {
    font-family: 'Libre Baskerville', serif;
    text-decoration: none;
    background-color: var(--gray);
    color: var(--second-color-blue);
    min-height: 100vh;  
    position: relative;
}


header{
    text-transform: capitalize;
    position: relative;
    z-index: 5;
    width: 100%;
    height: 4rem;
    margin: 20px 20px;
}



/* id's */

#second_red {
    color: var(--third-color-red_clair);
}

#text_font_titles{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Paytone One', sans-serif;
}

#text_font_paragraph{
    font-family: 'Libre Baskerville', serif;
}

#text_font_new {
    font-family: "Roboto", sans-serif;
}

/* header class */

.logo_container img{
    height:100px;
    width:100px;
}

.logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
}

.head_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--second-color-blue);
    font-weight: bold;
}

.navbar_container a{
    color: var(--second-color-blue);
    font-size: 20px;
    width: 25%;
    position: relative;
}

.navbar_container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_hover{
    background-color: var(--third-color-red_clair);
    width: 0%;
    height: 2.5px;
    position: absolute;
    bottom: 0;
    transition: .5s;
}

.navbar_container a:hover{
    margin-top: 10px;
}


.contact_container{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.contact_container  a:nth-child(2) {
    font-size: 15px;
    padding: 15px 10px;
    margin-left: 10px;
    border: 3px solid var(--third-color-red_clair);
    background-color: var(--third-color-red_clair);
    color: var(--white);
    border-radius: 10px;
    cursor: pointer;
}


.contact_container  a:first-child{
    cursor: pointer;
    font-size: 15px;
    color: var(--black-c);
    padding: 15px 15px;
    border: 3px solid var(--third-color-red_clair);
    border-radius: 10px;
    font-weight: bold;
}

.contact_container  a:first-child:hover{
    border: 3px solid var(--second-color-blue);
    background-color: var(--second-color-blue);
    color: var(--white);
    transition: .5s;
}

.contact_container  a:nth-child(2):hover {
    color: var(--white);
    border: 3px solid  var(--second-color-blue);
    background-color: var(--second-color-blue);
    transition: .5s;
}


.navbar_container{
    margin-top: 10px;
    align-content: center;
}
.navbar_container li{
    float: left;
    overflow: hidden;
    margin: 0px 30px;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
    display: none;
}

.toggle-button .bar {
    height: 5px;
    width: 100%;
    background-color: var(--black-c);
    opacity: .8;
    border-radius: 10px;
}


/* section 1 class */

.main_section_container {
    margin-top: 25px;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_picture_container {
    height: 100%;
    width: 35%;
    position: relative;
}

.text_container {
    color: var(--second-color-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 50px;
    width: 45%;
    height: 100%;
}

.paragraphe_titel_container {
    font-size: 35px;
    font-weight: bold;
    word-spacing: 0.2em;
    letter-spacing: 4px;
}

.paragraphe_container{
    font-weight: bold;
    color: var(--second-color-blue);
    margin-top: 20px;
    opacity: .9;
}

.main_order_button{
    margin-top: 20px;
    z-index: 20;
}

.order_button {
    padding: 25px 50px;
    margin: 20px 0px 10px 0px;
    border: none;
    background-color: var(--second-color-blue);
    color: var(--white);
    font-weight: bold;
    border-radius: 35px;
    box-shadow: 0px 20px 30px -20px  var(--second-color-blue);
    cursor: pointer;
}  

.order_button:hover {
    background-color: var(--third-color-red_clair);
    transition: .4s;
}


/* rectangle */

.rectangle {
    background-color: var(--violet_clair);
    height: 100%;
    width: 130%;
    border: none;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    opacity: 20%;
    top: 10%;
    position: absolute;
    margin: 0px;

}



/* section 2 class */

.description_container {
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text_desc_container {
    height: 80%;
    width: 50%;
    background-color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_container{
    position: relative;
    height: 65%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about_container h1{
    height: 10%;
    width: 110%;
    font-size: 50px;
    font-weight: bolder;
    text-align: start;
    color:  var(--second-color-blue);
    margin: 0px 0px 30px 10px;
}
.about_container p{
    font-size: 25px;
    height: 40%;
    width: 100%;
    font-weight: bold;
    letter-spacing: .05em;
    line-height: 1.5em;
    text-align: start;
    color:  var(--second-color-blue);
    margin-left: 10px;
    margin-top: 30px;
    opacity: .9;
}


.picture_desc_container{
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture_container {
    position: relative;
    width: 90%;
    height: 100%;
}

.box_img {
    position: relative;
}

/* id's */


/* section 4 how to send */

.sending_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
}

.sending_text_container {
    width: 100%;
    height: 30%;
    color: var(--second-color-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.sending_text_container h1{
    margin-bottom: 20px;
}

.sending_text_container p{
    opacity: .9;
}


.sending_steps_container {
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.steps_container {
    background-color: var(--second-color-blue);
    color: var(--gray-c);
    height: 100%;
    width: 20%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 1s;
}

.steps_container p {
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}

.steps_container h3{
    font-weight: bolder;
    letter-spacing: .05rem;
}

.steps_img {
    height: 30%;
    width: 30%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-c);
}

.steps_img  img{
    height: 80%;
    width: 80%;
}

.show_div {
    display: none;
}
/* section 3 our services */

.our_services_container{
    height: 700px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.our_services_text {
    order: 2;
}

.picture_our_container {
    order: 1;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture_container_2 img{
    height: 90%;
    width: 90%;
}

.picture_container_2 {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid transparent;
}

/* prices */

.our_prices_container {
    height: 300px;
    width: 100%;
    color: var(--white);
    background-color: var(--second-color-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.our_prices_header {
    width: 100%;
    height: 10%;
    text-align: center;
}

.our_prices_main {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our_prices_main .prices_form{
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.our_prices_main .price_result{
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.our_prices_main .price_result p {
    margin-left: 20px;
}
/* location section */

.location_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.location_text_container h1{
    position: relative;
    color: var(--second-color-blue);
    margin-bottom: 20px;
    margin-left: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    
}

.location_text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location iframe {
    border-radius: 10px;
    margin-bottom: 20px;
}

.location_text_container div{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location_text_container div select {
    border: none;
    background-color: var(--gray-c);
    height: auto;
    margin: 0;
    outline: 0;
    width: 20%;
    color: var(--second-color-blue);
    margin-left: 30px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.location_text_container div label {
    font-size: 30px;
    text-transform: capitalize;
    font-weight: bold;
    color: var(--second-color-blue);
    margin-bottom: 20px;
    margin-left: 30px;
}

.select_wilaya {
    display: flex;
    justify-self: center;
    align-items: center;
}

/* footer */


.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color: var(--dark-);
}

.footer_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.items_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    margin: 0px 30px;
}

.items_container h3{
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
    letter-spacing: .09em;
}

.items_container ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
.items_container ul a:hover {
    opacity:0.8;
}

.items_container ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}

.company_text p {
    opacity:0.6;
    margin-bottom:0;
}

.items {
    width: 20%;
}

.company_text {
    width: 40%;
}

.social_media_container {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0px;
    width: 20%;
}

.social_media img{
    height: 35px;
    width: 35px;
}

.social_media {
    background-color: var(--white);
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.copyright_container {
    opacity: 0.8;
}

/* responsive */


@media (min-width:1500px){
    .head_container{
        height: 8rem;
    }

    .logo_container img {
        height: 120px;
        width: 120px;
    }

    .navbar_container{
        
        height: 100%;
    }

    .navbar_container ul{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        
    }

    .contact_container{
        height: 100%;
    }
    
    .navbar_container ul li a{
        font-size: 32px;
    }

    .contact_container  a:nth-child(2) {
        font-size: 26px;
        padding: 25px 20px;
        margin: 0;
        margin-left: 20px;
    }
    
    
    .contact_container  a:first-child{
        font-size: 26px;
        padding: 25px 20px;
        margin: 0;
    }
    
    /* second section */
    .main_section_container{
        height: 100%;
        width: 100%;
    }
    
    .text_container{
        width: 30%;
    }

    .paragraphe_titel_container{
        font-size: 50px;
    }

    .paragraphe_container {
        font-size: 26px;
    }

    .main_order_button button{
        font-size: 24px;
        padding: 35px 60px;
        height: 100%;
    }

    /* desc section */
    .description_container{
        height: 75vh;
        justify-content: center;
    }

    .text_desc_container{
        height: 100%;
        width: 60%;
    }

    .about_container{
        width: 50%;
        height: 50%;
    }

    .about_container h1{
        height: 20%;
        font-size: 70px;
        margin:0;
        margin-bottom: 15px;
    }

    .about_container p{
        font-size: 45px;
        width: 900px;
        height: 80%;
        margin: 0;
    }

    .picture_container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box_img {
        height: 100%;
        width: 100%;
    }

    .box_img img{
        height: 100%;
        width: 100%;
    }

    /* sending container */

    .sending_text_container h1{
        font-size: 60px;
    }

    .sending_text_container p{
        font-size: 40px;
    }

    .sending_steps_container h3{
        font-size: 35px;
    }

    .sending_steps_container p{
        font-size: 28px;
    }

    

    /* our services */
    .our_services_container{
        height: 70vh;
    }

    .our_services_text{
        height: 100%;
    }

    .our_services_border_decoration{
        height: 80%;
        width: 80%;
    }
    .picture_container_2 {
        height: 100%;
        width: 100%;
    }

    /* our location */

    .location_container{
        height: 50vh;
        justify-content: center;
    }

    .location_text_container{
        height: 30%;
    }

    .location_text_container h1{
        font-size: 60px;
    }

    .select_wilaya label{
        font-size: 50px;
    }

    .select_wilaya select{
        font-size: 30px;
    }

    .location_container .localisation_container{
        height: 200px;
        width: 20%;
    }

    .localisation_container iframe{
        height: 100%;
        width: 100%;
    }

    /* footer */
     
    .footer-dark{
        height: 30vh;
    }

    footer{
        height: 100%;
    }

    .footer_container h3{
        font-size: 35px;
    }

    .footer_container a,p{
        font-size: 25px;
    }

    .social_media_container{
        height: 20%;
    }

    .social_media img{
        height: 50px;
        width: 50px;
    }
    
    .social_media {
        background-color: var(--white);
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }

    .copyright_container{
        font-size: 25px;
    }
}


@media (max-width:950px){
    .navbar_container ul li a{
        font-size: 10px;
    }

    .contact_container  a:nth-child(2) {
        display: none;
    }

    .contact_container{
        width: 10%;
    }

    .logo_container{
        width: 5%;
    }

    .navbar_container ul{
        width: 100%;
    }
}



@media (max-width:1200px){

    .logo_container img {
        height: 75px;
        width: 75px;
    }

    .navbar_container{
        height: 100%;
        width: 90%;
    }

    .navbar_container ul{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    
    .navbar_container ul li a{
        font-size: 18px;
    }

    .contact_container  a:nth-child(2) {
      font-size: 12px;
    }
    
    
    .contact_container  a:first-child{
        font-size: 12px;
    }
    
    /* second section */
    .main_section_container{
        height: 100%;
        width: 100%;
    }
    
    .text_container{
        width: 40%;
        height: 100%;
    }

    .paragraphe_titel_container{
        font-size: 20px;
    }

    .paragraphe_container {
        font-size: 14px;
    }

    .main_order_button button{
        font-size: 12px;
        padding: 20px 30px;
        height: 100%;
    }

    .main_picture_container{
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main_picture_container img{
        height: 80%;
        width: 80%;
    }

    /* desc section */
    .description_container{
        justify-content: center;
    }

    .text_desc_container{
        height: 100%;
        width: 60%;
    }

    .about_container{
        width: 50%;
        height: 50%;
    }

    .about_container h1{
        height: 20%;
        font-size: 28px;
        margin:0;
        margin-bottom: 15px;
    }

    .about_container p{
        font-size: 18px;
        width: 400px;
        height: 80%;
        margin: 0;
    }

    .picture_container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box_img {
        height: 100%;
        width: 100%;
    }

    .box_img img{
        height: 100%;
        width: 100%;
    }

    /* sending container */

    .sending_container{
        margin: 0;
        height: 90vh;
    }
    .sending_text_container{
        height: 30%;
    }

    .sending_steps_container{
        height: 70%;
        justify-content: space-around;
        align-items: flex-start;
    }

    .sending_text_container h1{
        font-size: 26px;
    }

    .sending_text_container p{
        font-size: 16px;
    }

    .sending_steps_container h3{
        font-size: 14px;
    }

    .sending_steps_container p{
        font-size: 12px;
    }

    .sending_steps_container div{
        height: 230px;
        width: 25%;
    }
    
    .steps_container .steps_img{
        height: 50px;
        width: 50px;
    }

    .steps_img img{
        height: 40px;
        width: 40px;
    }
    /* our services */
    .our_services_container{
        height: 60vh;
        justify-content: center;
    }

    .our_services_text{
        height: 100%;
        width: 100%;
    }

    .our_services_border_decoration{
        height: 80%;
        width: 80%;
    }
    .picture_container_2 {
        height: 80%;
        width: 100%;
    }

    .picture_our_container{
        width: 50%;
        height: 100%;
    }
    .picture_our_container{
        height: 120%;
        width: 120%;
    }

    /* our location */

    .location_text_container h1{
        font-size: 30px;
    }

    .select_wilaya label{
        font-size: 24px;
    }


    .location_container .localisation_container{
        height: 200px;
        width: 20%;
    }

    .localisation_container iframe{
        height: 100%;
        width: 100%;
    }

    /* footer */

    .footer_container h3{
        font-size: 16px;
    }

    .footer_container a,p{
        font-size: 12px;
    }

    .social_media_container{
        height: 20%;
    }

    .copyright_container{
        font-size: 10px;
    }
}



@media (max-width: 820px) {
    .toggle-button{
        display: flex;
    }

    .logo_container img {
        height: 75px;
        width: 75px;
    }
    .head_container{
        flex-direction: column;
        align-items: flex-start;
        height: 70vh;
    }

    .navbar_container{
        align-self: flex-end;
        height: 50vh;
        width: 100%;
        background-color: var(--second-color-blue);
    }

    .navbar_container ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        height: 100%;
        width: 100%;
        transition: var(--transition);
    }

    .navbar_container li {
        float: none;
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
    }

    .navbar_container a{
        color: var(--white);
    }

    .contact_container{
        align-self: flex-end;
        align-items: center;
        justify-content: flex-start;
        height: 30%;
        width: 100%;
        background-color: var(--second-color-blue);
        color: var(--white);             
    }
    .contact_container  a:first-child{
        color: var(--white);
        margin-left: 32px;
    }

    .contact_container  a:first-child:hover {
        background-color: var(--third-color-red_clair);
        border: 3px var(--third-color-red_clair) solid;
    }

    .contact_container  a:nth-child(2){
        display: flex;
        border: 3px var(--third-color-red_clair) solid;
        margin-left: 25px;
    }

    .contact_container  a:nth-child(2):hover {
        border: 3px var(--third-color-red_clair) solid;
    }

    .hidde_nav .navbar_container{
        display: none;
    }
    
    .hidde_nav .contact_container{
        display: none;
    }

    .drone_hide .drone{
        display: none;
    }

    /* main section */

    .text_container {
        width: 40%;
        height: 80%;
        text-align: start;
    }
    .paragraphe_titel_container{
        width: 100%;
        font-size: 22px;
    }

    .paragraphe_container p{
        font-size: 14px;
    }

    .main_order_button button{
        font-size: 10px;
    }
    
    .main_order_button{
        margin: 0;
    }

    .main_picture_container img{
        height: 100%;
        width: 100%;
    }

    /* description section */

    .description_container{
        height: 75vh;
    }

    .text_desc_container{
        width: 50%;
        margin: 0;
    }

    .picture_desc_container{
        margin: 0px;
        width: 100%;
        text-align: center;
    }

    .about_container{
        width: 90%;
        height: 50%;
    }

    .picture_desc_container{
        height: 100%;
        margin-top: 55px;
    }

    .picture_desc_container img{
        height: 80%;
        width: 80%;
    }

    /* sending section */
    


    .sending_container{
        margin: 0;
        height: 70vh;
    }
    .sending_text_container{
        height: 20%;
    }

    .sending_steps_container{
        height: 70%;
        justify-content: space-around;
        align-items: flex-start;
    }

    .sending_text_container h1{
        font-size: 24px;
    }

    .sending_text_container p{
        font-size: 14px;
    }

    .sending_steps_container h3{
        font-size: 14px;
    }

    .sending_steps_container p{
        font-size: 12px;
    }

    .sending_steps_container div{
        height: 200px;
        width: 25%;
    }
    
    .steps_container .steps_img{
        height: 50px;
        width: 50px;
    }

    .steps_img img{
        height: 40px;
        width: 40px;
    }

    /* our services section */

    .picture_container_2{
        width: 100%;
        height: 80%;
        margin-top: 30px;
    }

    /* location */ 

    .location_text_container h1{
        font-size: 26px;
    }

    .location_text_container .select_wilaya label{
        font-size: 24px;
    }


    .location_container .localisation_container{
        height: 200px;
        width: 20%;
    }


    /* footer container */

    .footer_container h3{
        font-size: 14px;
    }

    .footer_container a,p{
        font-size: 12px;
    }

    .copyright_container{
        font-size: 8px;
    }

}

@media (max-width: 450px){
    /* nav bar */
    .logo_container{
        height: 12%;
    }
    /* main section */
    .main_section_container{
        margin-top: -20px;
        flex-direction: column;
    }

    .head_container{
        margin: 0;
        z-index: 10;
    }

    .toggle-button{
        margin: 0;
    }

    .main_section_container .drone{
       display: none;
    }

    .text_container {
        width: 100%;
        text-align: center;
    }
    
    .main_order_button {
        z-index: 2;
    }

    .paragraphe_titel_container{
        font-size: 18px;
    }

    .paragraphe_container p{
        font-size: 10px;
    }

    .main_order_button button{
        font-size: 8px;
    }
    
    .main_picture_container{
        margin-top: 20px;
        width: 100%;
    }

    .main_picture_container img{
        height: 50%;
        width: 60%;
    }

    /* description section */

    .description_container{
        height: auto;
    }

    .text_desc_container{
        width: 100%;
        height: 80%;
        align-items: flex-start;
        margin-top: 20px;
    }

    .picture_desc_container{
        display: none;
    }

    

    .about_container p{
        width: 100%;
        height: auto;
    }

    /* sending section */

    .sending_container{
        height: auto;
        margin-top: 40px;
    }

    .sending_text_container h1{
        font-size: 20px;
    }

    .sending_text_container p{
        font-size: 12px;
    }

    .sending_steps_container h3{
        font-size: 12px;
    }

    .sending_steps_container p{
        font-size: 10px;
    }

    .sending_steps_container div{
        height: 150px;
        width: 30%;
    }
    
    .steps_container .steps_img{
        height: 40px;
        width: 40px;
    }

    .steps_img img{
        height: 35px;
        width: 35px;
    }

    /* our services section */

    .our_services_container{
        margin: 0;
        height: auto;
        margin-top: 60px;
    }

    .our_services_text{
        align-items: center;
    }

    .picture_our_container{
        display: none;
    }

    /* location */ 

    .location_container{
        height: auto;
    }

    .location_text_container h1{
        font-size: 22px;
    }

    .location_text_container .select_wilaya label{
        font-size: 16px;
    }

    .location_text_container .select_wilaya select{
        width: 60%;
    }

    /* footer container */

    .footer_container h3{
        font-size: 14px;
    }

    .footer_container a,p{
        font-size: 10px;
    }

    .copyright_container{
        font-size: 8px;
    }

    .social_media img{
        height: 20px;
        width: 20px;
    }
    
    .social_media {
        height: 20px;
        width: 20px;
    }

}


/* drone animation */

.drone img{
    width: 100px;
    height: 100px;
    animation: drones 7s linear infinite;
    opacity: 0;
}

.drone {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    z-index: 15;
    bottom: 0;
}

.drone img:nth-child(1){
    animation-delay: 2s;
}

.drone img:nth-child(2){
    animation-delay: 1s;
}

.drone img:nth-child(3){
    animation-delay: 4.5s;
}

.drone img:nth-child(4){
    animation-delay: 3s;
}

.drone img:nth-child(5){
    animation-delay: 0s;
}

.drone img:nth-child(6){
    animation-delay: 5.5s;
}

.drone img:nth-child(7){
    animation-delay: 7s;
}

@keyframes drones{
    0%{
        transform: translateY(0);
        opacity: 0;
    }

    50%{
        opacity: 1;
    }

    70%{
        opacity: 1;
    }

    100%{
        transform: translateY(-65vh);
        opacity: 0;
    }

}


/*pop up */


.confirm_contaner{
	height: 100vh;
	width: 100%;
    position: fixed;
    top: 0;
    z-index: 20;
    transition: .5s;
}

.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
    background: url("../img/main_worldexpress.png") no-repeat center;
	background-size: cover;
	filter: blur(10px);
	z-index: 15;
}

.contact-box{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
    z-index: 20;
}



.right{
	padding: 25px 40px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 80%;
    border-radius: 2px;
    background-color: #D03925;
}


.btn{
	width: 40%;
	padding: 0.5rem 1rem;
	background-color: #21354B;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .5s;
    margin: 20px 0px;
}

.btn:hover{
    background-color: #27ae60;
}