
<!DOCTYPE html>
<html>
<head>
	<title>pass change form</title>
	<link rel="stylesheet" type="text/css" href="./chage_forms.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>
<body>
	<div class="container">
		<div class="contact-box">
			<div class="left pic4"></div>
			<div class="right right_pass_reset">
				<h2>Change your password?</h2>
        
        <!--{% if form.errors %}-->
          <div class="erreur_container">
            <!--{% for key, value in form.errors.items %}-->
            <strong>{{ value }}</strong>
          <!--{% endfor %}-->
            <button type="button" class="close">close</button>
          </div>
          <!--{% endif %}-->
                <form method="POST" class="form_all">
                    <!--{% csrf_token %}-->
                    <input type="password" name="old_password" class="field" required id="id_old_password" placeholder="Enter your old password">
                    <input type="password" name="new_password1" class="field" autocomplete="current_password" maxlength="254" required id="new_password1" placeholder="Enter your new password">
                    <input type="password" name="new_password2" class="field"  autocomplete="email" maxlength="254" required id="id_new_password2"  placeholder="Confirm your password">
                    <button type="submit" class="btn">Change Password</button>
                </form>
        <a href="{% url 'signup' %}">Create A New Account</a><br><br>
        <a href="{% url 'signin' %}" class="AtagBtn1 AtagBtn">Back To Login</a><br>

			</div>
		</div>
	</div>
</body>
</html>





