<!DOCTYPE html>
<html>
<head>
	<title>password reset confirm</title>
	<link rel="stylesheet" type="text/css" href="./chage_forms.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>
<body>
	<div class="container">
		<div class="contact-box">
			<div class="left pic3"></div>
			<div class="right right_pass_reset">
        <!--{% if validlink %}-->
				<h2>Set a new password!</h2>
        <!--{% if form.errors %}-->
          <div class="erreur_container">
          <!--{% for key, value in form.errors.items %}-->
          <strong>{{ value }}</strong>
          <!--{% endfor %}-->
        </div>
          <!--{% endif %}-->
                <form method="POST" class="form_all">
                    <!--{% csrf_token %}-->
                    <input type="password" name="new_password1" autocomplete="new-password" class="field" required id="id_new_password1" placeholder="Enter password"/>
                    <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="field" placeholder="Confirm password"/>
                    <button type="submit" class="btn">Change Password</button>
                </form>
        <!--{% else %}-->
        <div class="reset_par">
          <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
        </div>
            
        <!--{% endif %}-->
			</div>
		</div>
	</div>
</body>
</html>

  
