<!DOCTYPE html>
<html>
<head>
	<title>password reset</title>
	<link rel="stylesheet" type="text/css" href="./chage_forms.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>
<body>
	<div class="container">
		<div class="contact-box">
			<div class="left pic5"></div>
			<div class="right right_pass_reset">
				<h2>Forgot your password?</h2>
                <p class="emailp">Enter your email address below, and we'll email instructions for setting a new one.</p>
                <form method="POST" class="form_all">
                    <!--{% csrf_token %}-->
                    <input type="email" name="email"  autocomplete="email" maxlength="254" required id="id_email"placeholder="Enter email" class="field">
                    <button type="submit" class="btn">Submit</button>
                </form>
                <div class="erreur_container">
                    <!--{% if form.errors %}-->
              <!--{% for key, value in form.errors.items %}-->
              <strong>{{ value }}</strong>
              <!--{% endfor %}-->
              <button type="button" class="close">close</button>
          </div>
          
                <a href="{% url 'signup' %}">Or Create A New Account?</a><br><br>
                <a href="{% url 'signin' %}" class="AtagBtn1 AtagBtn">Back To Login</a><br>
			</div>
		</div>
	</div>
</body>
</html>

  