<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Express Login</title>
    <link rel="stylesheet" href="login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Lato:wght@300&family=Paytone+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous"/>  
</head>
<body>
<div class="container">
   <div class="forms-container">
      <div class="signin-signup">
         <form method="post" action="" class="sign-in-form">
            <h2 class="title" id="text_font_titles">Sign in </h2>
            <!--{% csrf_token %}-->
            <div class="input-field">
               <i class="fas fa-user"></i>
               <input type="text" class="form-control" id="username" name="username" placeholder="Username" Required>
            </div>
            <div class="input-field">
               <i class="fas fa-lock"></i>
               <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Password" Required>
            </div>
            <!--{% for message in messages %}-->
               <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                  <strong>Message:</strong> <!--{{ message }}-->
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
            <!--{% endfor %}-->
            <div class="submit_btn">
               <button type="submit" class="btn solid">Log In</button>
               <a href="{% url 'password_reset' %}"><i>Forgot Password?</i></a>
            </div>
         </form> 
      </div> 
   </div>       

   <div class="panels-container">
       <div class="panel left-panel">
          <div class="content">
             <h1 id="text_font_titles">New Here ?</h1>
             <p>Create your acount</p>
             <button class="btn transparent" id="sign-up-button"><a href="./sign.html">Sign Up</a> </button>
          </div>
       </div>
   </div>
</div>
<script src="sign.js"></script>
</body>
</html>